In [1]:
import pandas as pd
impor

In [2]:
#Create a pandas dataframe from the vine CSV
vine_df = pd.read_csv('vine_data.csv')
vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RQ58W7SMO911M,4.0,2.0,3.0,N,N
1,RF6IUKMGL8SF,3.0,5.0,5.0,N,N
2,R1DOSHH6AI622S,4.0,1.0,22.0,N,N
3,RATOTLA3OF70O,5.0,2.0,2.0,N,N
4,R1TNWRKIVHVYOV,4.0,0.0,2.0,N,N
...,...,...,...,...,...,...
3105515,R1U2RAML67OKWM,4.0,9.0,9.0,N,N
3105516,R33HOJ2OWJIDQI,5.0,27.0,27.0,N,N
3105517,RPLV77JZXG575,4.0,4.0,4.0,N,N
3105518,RHL4UW17ZK72A,5.0,9.0,9.0,N,N
3105519,R34N4QWDXX58WB,4.0,12.0,13.0,N,N

In [3]:
# filter for only columns with 20 or more total votes 
over_20_votes_df = vine_df[(vine_df.total_votes >=20)]
over_20_votes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
2,R1DOSHH6AI622S,4.0,1.0,22.0,N,N
8,R1VE0FQQ0QTQJN,5.0,16.0,20.0,N,Y
16,R1AABFZH0J0C0C,3.0,17.0,35.0,N,N
17,R3SJYLG07EHNE9,2.0,16.0,34.0,N,N
22,R3MD5TZJGIPTDU,5.0,21.0,31.0,N,N
...,...,...,...,...,...,...
3105453,R2OD2TECAR3RM,5.0,19.0,20.0,N,N
3105473,R117GB0UNIVGV9,5.0,33.0,33.0,N,N
3105479,R1DZ6KX3SWKFK2,5.0,45.0,47.0,N,N
3105507,R2YS7NYUYEWWN0,5.0,26.0,29.0,N,N
3105516,R33HOJ2OWJIDQI,5.0,27.0,27.0,N,N

In [4]:
#filter for the most helpful votes
helpful_votes_df = over_20_votes_df.loc[(over_20_votes_df['helpful_votes'] /over_20_votes_df['total_votes'] >= 0.5)]
helpful_votes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
8,R1VE0FQQ0QTQJN,5.0,16.0,20.0,N,Y
22,R3MD5TZJGIPTDU,5.0,21.0,31.0,N,N
33,RX6OWUF8EFZ72,5.0,27.0,28.0,N,N
51,R1OPUF771LL5O5,4.0,27.0,27.0,N,N
59,R3AW5JRZYH66M5,1.0,268.0,307.0,N,N
...,...,...,...,...,...,...
3105453,R2OD2TECAR3RM,5.0,19.0,20.0,N,N
3105473,R117GB0UNIVGV9,5.0,33.0,33.0,N,N
3105479,R1DZ6KX3SWKFK2,5.0,45.0,47.0,N,N
3105507,R2YS7NYUYEWWN0,5.0,26.0,29.0,N,N
3105516,R33HOJ2OWJIDQI,5.0,27.0,27.0,N,N

In [7]:
#filter for the votes that are part of the PAID vine program 
part_of_vine_df = helpful_votes_df.loc[helpful_votes_df.vine == 'Y']
part_of_vine_df

Empty DataFrame
Columns: [review_id, star_rating, helpful_votes, total_votes, vine, verified_purchase]
Index: []

In [10]:
#filter for the votes that are part of the PAID vine program 
not_part_of_vine_df = helpful_votes_df.loc[helpful_votes_df.vine == 'N']
not_part_of_vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
8,R1VE0FQQ0QTQJN,5.0,16.0,20.0,N,Y
22,R3MD5TZJGIPTDU,5.0,21.0,31.0,N,N
33,RX6OWUF8EFZ72,5.0,27.0,28.0,N,N
51,R1OPUF771LL5O5,4.0,27.0,27.0,N,N
59,R3AW5JRZYH66M5,1.0,268.0,307.0,N,N
...,...,...,...,...,...,...
3105453,R2OD2TECAR3RM,5.0,19.0,20.0,N,N
3105473,R117GB0UNIVGV9,5.0,33.0,33.0,N,N
3105479,R1DZ6KX3SWKFK2,5.0,45.0,47.0,N,N
3105507,R2YS7NYUYEWWN0,5.0,26.0,29.0,N,N
3105516,R33HOJ2OWJIDQI,5.0,27.0,27.0,N,N

In [24]:
# Determine total number of reviews
total_reviews =helpful_votes_df.review_id.count()
total_reviews

403807

In [25]:
# Determine total number of paid reviews
vine_reviews = part_of_vine_df.review_id.count()
vine_reviews

0

In [26]:
# Determine total number of unpaid reviews
not_vine_reviews = not_part_of_vine_df.review_id.count()
not_vine_reviews

403807

In [19]:
# Determine number of 5-star reviews
five_star = helpful_votes_df[(helpful_votes_df.star_rating == 5 )].review_id.count()
five_star

242889

In [22]:
# Determine number of 5-star paid reviews
five_paid = part_of_vine_df[(part_of_vine_df.star_rating == 5 )].review_id.count()
five_paid

0

In [23]:
# Determine number of 5-star unpaid reviews
five_unpaid = not_part_of_vine_df[(not_part_of_vine_df.star_rating == 5 )].review_id.count()
five_unpaid

242889

In [29]:
# Determine percentage of 5-star paid reviews
#in this example there is no paid reviews as we proved before but we can still calculate that:
paid_percentage = vine_reviews/total_reviews * 100
paid_percentage

0.0

In [31]:
# Determine percentage of 5-star unpaid reviews
unpaid_percentage = not_vine_reviews/total_reviews * 100
unpaid_percentage

100.0